.personal-info-form {
  width: 750px;
  margin-left: 7%;
  padding: 20px;
}

h2{
  font-weight: 400;
}



.input-container {
  position: relative;
  margin-bottom: 20px;
  margin-right: 3%;
  width: 73%;
}

.label {
  position: absolute;
  top: 1px; 
  left: 10px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color: gray;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.input-container input:focus + .label,
.input-container input:not(:placeholder-shown) + .label {
  top: 5px;
  left: 10px;
  font-size: 12px;
  /* color: black; */
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-color: lightgray !important;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}

.check{
  width:2% !important;
}

.companyName{
  color: #1688FE;
  cursor: pointer;
}

.Savebtn{
  background-color: #1688FE;
  width: 20%;
}

.Savebtn::hover{
  background-color: #1688FE !important;
}

.deletemodal{
border: 1px solid lightgray;
border-radius: 4px;
padding: 5px;
padding-left: 21px;
width: 129%;
}

.deleteheading{
font-weight: bold;
}

.deleteconfirmation{
  color: red;
  cursor: pointer;
}

.outer{
  display: flex;
}

.profileImage{
  width: 16%;
  height: 20%;
  margin-top: 9%;
}