.home-container {
  height: 100vh; /* Adjust height as needed */
  margin: 0px !important;
}

/* Optional: If you want to customize the styles for specific components */
.content {
  background-color: #008b5d;
  color: white;
  height: 14%;
  border-radius: 6px;
}
.frameimage {
  margin: 40%;
}

.contents {
  width: 83% !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.innerContent {
  margin-left: 6%;
}

.bottom {
  margin-left: 10%;
}

.footer-line {
  margin-left: 8%;
  color: #e3e3e4;
  border-top: 1px solid white;
  width: 98%;
}
