.sidebar-container {
  position: fixed;
  top: 0;
  left: 20px;
  bottom: 0;
  width: 200px; /* Adjust width as needed */
  overflow-y: auto;
}

.sidebar {
  height: 100%;
  color: black;
  border-right: 1px solid lightgrey;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.logo img {
  width: 140px;
  height: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.menu-item-1 {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.menu-item i {
  margin-right: 10px;
}

.icon {
  margin-right: 2%;
  font-size: 20px;
}

.menu-item-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  margin-top: 60%;
}

.profileimg {
  width: 180px;
}
